
.navbar{
    width: 100vw;
    height: 80px;
    background: rgba(255,255,255,.7);

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    z-index:20;
}

.nav_splitter{
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}

.nav_splitter:first-child{
    margin-left: +30px;
}

.navbar > .nav_splitter:last-child{
    flex-direction: row;
    align-self: flex-end;
}