@media screen and (max-width: 500px) {

  .navbar,
  .photo {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Element Change */
a {
  color: rgba(0, 0, 0, .5);
  text-decoration: none;
  transition: 100ms ease-in-out;
  user-select: none;
}

a:hover {
  color: black;
  transition: 100ms ease-in-out;
}

@font-face {
  font-weight: 400;
  font-family: material-icons;
  font-style: normal;
  src: url('./Assets/Fonts/material.ttf');
}

@font-face {
  font-family: lobster-bold;
  font-style: bold;
  src: url('./Assets/Fonts/lobster-bold.otf');
}

@font-face {
  font-family: lobster;
  font-style: normal;
  src: url('./Assets/Fonts/lobster.otf');
}