.photo {
    height: 100vh;
    background: beige;
    width: 30vw;
    min-width: 420px;

}

.food-details {
    height: 100vh;
    width: 70vw;

    background-color: white;
}

.details {
    display: flex;
    position: fixed;
    z-index: 30;

}